/*
  Styles for the Colmar Academy project

  Claude Catonio
  5 august 2017 : top bar added
 */

/* ------------------------------------------------------------------- */
/* Global styles                                                       */
/* ------------------------------------------------------------------- */
html {
    font-size: 16px;
    color: #444444;
}

a {
    color: #444444;
}

.containerLeft {
    width: 60%;
    padding: 2rem 1.5rem;
}

.containerRight {
    width: 40%;
    padding: 2rem 1.5rem 2rem 0;
}

img, video {
    width: 100%;
}

/* The information block style                                         */
/*     used in the introduction section and the these exhibit section  */

.leftInformation h1 {
    margin: 2rem 0 1.5rem 0;
    font-size: 2.25rem;
    font-weight: bold;
}

.leftInformation h2 {
    color: gray;
}

.leftInformation .author {
    margin-top: 2rem;
}

.information {
    margin-right: -1.5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.information img {
    width: 35%;
}

.information div {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.information div * {
    margin-bottom: 1rem;
}

.information div h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.information div p {
    font-size: 1rem;
    color: gray;
}

.information div a {
    font-size: 1rem;
    color: cornflowerblue;
}

/* ------------------------------------------------------------------- */
/* Top bar                                                             */
/* ------------------------------------------------------------------- */
.topBar {
    background-color: white;
    height: 4rem;
    margin: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 3rem;
}

.logo span {
    font-size: 1.5rem;
}

.logo span:nth-child(2n+0) {
    font-weight: bold;
}

.logo span:last-child {
    color: gray;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin-left: 1rem;
    font-size: 1.25rem;
}

/* ------------------------------------------------------------------- */
/* Top banner                                                          */
/* ------------------------------------------------------------------- */
.banner {
    background: lightgray;
    display: flex;
}

.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.jumbotron * {
    margin-bottom: 1.5rem;
}

.jumbotron h1 {
    font-size: 3rem;
    font-weight: bold;
}

.jumbotron h2 {
    font-size: 2rem;
}

.jumbotron .button {
    width: 100%;
    background-color: #444444;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    padding: 0.5rem 0;
}

/* ------------------------------------------------------------------- */
/* The introduction section                                            */
/* ------------------------------------------------------------------- */
.introduction {
    display: flex;
    background-color: #eeeeee;
}

.introduction .containerRight {
    border-left-width: 1px;
    border-color: lightgray;
    border-style: solid;
}

.informationList {
    display: flex;
    flex-direction: column;
}

.informationList .information {
    border-bottom-width: 1px;
    border-color: lightgray;
    border-style: solid;
}

.informationList .information:first-child {
    padding: 0rem 0 1rem 1rem;
}

.informationList .information:last-child {
    background-color: lightgray;
}

/* ------------------------------------------------------------------- */
/* The learn section                                                   */
/* ------------------------------------------------------------------- */
.learn {
	background-color: lightgray;	
}

.learn h1 {
	padding-top: 2rem;
    font-size: 2rem;
    font-weight: bold;
	text-align: center;
}

.learnCategories {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 3.75rem;
}

.learnCategory {
    min-width: 20%;
	max-width: 28%;
	margin: 2rem 1rem;
	background-color: white;
}

.learnDescription {
	padding: 1rem;
}

.learnDescription h2 {
    font-size: 1.25rem;
	font-weight: bold;
}

.learnDescription h3 {
    font-size: 1rem;
	margin: 8px 0;
}

/* ------------------------------------------------------------------- */
/* The thesis exhibit section                                          */
/* ------------------------------------------------------------------- */
.thesisExhibit {
    display: flex;
}

.thesisExhibit .leftInformation h1 {
    margin: 1.5rem 0 0.5rem 0;
}

.studies .information:first-child {
    background-color: lightgray;
}

/* ------------------------------------------------------------------- */
/* The footer section                                                  */
/* ------------------------------------------------------------------- */
footer {
    border-top-width: 1px;
    border-top-color: lightgray;
    border-top-style: solid;
    padding: 1rem 1.5rem 3rem 1.5rem;
    display: flex;
    justify-content: space-between;
    color: gray;
}